<style>
  .customHeader .customHeader__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .customHeader .customHeader__inner .iconsBlock {
    display: flex;
    gap: 25px;
    align-items: center;
  }

  .customHeader a {
    color: #222222 !important;
    font-family: Manrope !important;
    text-decoration: none;
    transition: all 0.3s;
  }

  .customHeader a:hover {
    color: #222222 !important;
    opacity: 0.8;
  }

  .customHeader .customHeader__inner .iconsBlock .greenButton {
    color: #fff !important;
    background-color: #2c2d2c;
    border: 2px solid #2c2d2c;
    padding: 12px 32px;
  }

  .customHeader .customHeader__inner .iconsBlock .greenButton:hover {
    background-color: transparent !important;
    border: 2px solid #2c2d2c !important;
    color: #2c2d2c !important;
    transition: all 0.3s;
  }

  .customHeader .customHeader__inner .iconsBlock .greenButton:hover span {
    color: #2c2d2c !important;
  }

  .customHeader .customHeader__inner .iconsBlock path {
    stroke: #222222 !important;
  }

  .customHeader .customHeader__inner .navBlock {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  .customHeader .customHeader__inner .navBlock .navMenu {
    display: flex;
    align-items: center;
    gap: 32px;
  }

  .customHeader .icon-class {
    color: #222222 !important;
  }

  .customHeader.transparent-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: transparent;
    transition: all 0.3s ease;
  }

  .customHeader.transparent-header a {
    color: #fff !important;
  }

  .customHeader.transparent-header a:hover {
    color: #fff !important;
    opacity: 0.8;
  }

  .customHeader.transparent-header .icon-class {
    color: #fff !important;
  }

  .customHeader.transparent-header .customHeader__inner .iconsBlock .greenButton {
    color: #2c2d2c !important;
    background-color: #fff;
    border: 2px solid #fff;
  }

  .customHeader.transparent-header .customHeader__inner .iconsBlock .greenButton:hover {
    background-color: transparent !important;
    border: 2px solid #fff !important;
    color: #fff !important;
  }

  .customHeader.transparent-header .customHeader__inner .iconsBlock path {
    stroke: #fff !important;
  }

  .customHeader.transparent-header .customHeader__inner .iconsBlock .greenButton:hover span {
    color: #2c2d2c !important;
  }
  @media (min-width: 768px) {
    .pageWidth {
      padding: 15px;
    }
  }

  @media (min-width: 1500px) {
    .pageWidth {
      padding: 25px 10%;
    }
  }
</style>

<div class="customHeader pageWidth">
  <div class="customHeader__inner h-20 md:h-32 flex justify-between items-center">
    <div class="flex items-center space-x-6 navBlock">
      {% if section.settings.logo != blank %}
        <a href="{{ routes.root_url }}" class="inline-block">
          <img src="{{ section.settings.logo | image_url: width: 200 }}" alt="{{ shop.name }}">
        </a>
      {% else %}
        <a href="{{ routes.root_url }}" class="inline-block text-2xl lg:text-3xl font-bold">
          {{ shop.name }}
        </a>
      {% endif %}
      <div class="hidden md:block">
        {% render 'layout-menu'
          , class: 'space-x-4 navMenu' %}
      </div>
    </div>

    {% assign link_class = 'flex flex-col justify-center items-center text-sm text-gray-600 hover:text-black font-medium transition duration-150 p-2' %}
    {% assign icon_class = 'w-auto h-7 text-black mb-2' %}

    <div class="hidden md:flex space-x-2 lg:space-x-6 iconsBlock">
      <a href="{{ routes.search_url }}" class="{{ link_class }}">
        {% render 'icon-search'
          , class: icon_class %}
      </a>

      {% if shop.customer_accounts_enabled %}
        <a href="{% if customer %}{{ routes.account_url }}{% else %}{{ routes.account_login_url }}{% endif %}" class="{{ link_class }}">
          {% render 'icon-account'
            , class: icon_class %}
        </a>
      {% endif %}

      <a href="{{ routes.cart_url }}" class="{{ link_class }} relative">
        {% render 'icon-cart'
          , class: icon_class %}
        {% if cart.item_count > 0 %}
          <div class="w-5 h-5 flex justify-center items-center bg-black text-white text-xs border border-white rounded-full absolute top-0 right-0">
            {{ cart.item_count }}
          </div>
        {% endif %}
      </a>

      {% if section.settings.button_text != blank %}
        <a href="{{ section.settings.button_link }}" class="greenButton">{{ section.settings.button_text }}</a>
      {% endif %}
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const heroSection = document.querySelector('.js-hero-section');
    const header = document.querySelector('.customHeader');
    const logo = header.querySelector('a img');
    const transparentLogoSrc = "{{ section.settings.transparent_logo | image_url: width: 200 }}";
    
    if (heroSection && header) {
      header.classList.add('transparent-header');
      if (logo && transparentLogoSrc) {
        logo.src = transparentLogoSrc;
      }
    } else {
      const regularLogoSrc = "{{ section.settings.logo | image_url: width: 200 }}";
      if (logo && regularLogoSrc) {
        logo.src = regularLogoSrc;
      }
    }
  });
</script>

{% schema %}
  {
    "name": "t:sections.header.name",
    "settings": [
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo"
      },
      {
        "type": "image_picker",
        "id": "transparent_logo",
        "label": "Transparent Logo"
      },
      {
        "type": "paragraph",
        "content": "t:sections.header.settings.paragraph"
      },
      {
        "type": "text",
        "id": "button_text",
        "label": "Button Text",
        "default": "Contact Us"
      }, {
        "type": "url",
        "id": "button_link",
        "label": "Button Link"
      }
    ]
  }
{% endschema %}